<form method="post" action="{{ absolute_url(path('participer_delete', {'id': participer.id})) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce ticket?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participer.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
